
html {

  background: url(../src/assets/images/pexels-photo-924824.jpeg) no-repeat center center fixed;
  background-size: cover;
}

body {

  clear: both;
  font-family: Audiowide;
  background: url(../src/assets/images/pexels-photo-924824.jpeg) no-repeat center center fixed;
  background-size: cover;

}
