
html {

  background: url(../src/assets/images/pexels-photo-924824.jpeg) no-repeat center center fixed;
  background-size: cover;
}

body {

  clear: both;
  font-family: Audiowide;
  background: url(../src/assets/images/pexels-photo-924824.jpeg) no-repeat center center fixed;
  background-size: cover;

}

.container {
  background: #f8f9fa;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px;
  border: #eeeeee 5px solid;
}

.about-content {
  font-family: Roboto;

}

#about-img {
  border: #eeeeee solid 5px;
  margin-right: 20px;
  float: left;
  width: 33%;
}

/* Contact */
h1 {
  margin-left: 10px;
}

.content {
  font-family: Roboto;
  float: left;

}

.first-name {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 110%;
  display: inline;
}

.submit {
  margin-top: 10px;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  height: 150px;
  margin-bottom:5px;
}



/* button */
.btn,
.btn-primary {
  background: rgb(115, 115, 243) !important;
  border: rgb(115, 115, 243) solid 1px !important;
}

/* Image */

#contact-img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}


/* About */

@media screen and (max-width:500px) {

  #about-img {
      width: 250px;
      height: auto;
      margin-bottom: 20px;
  }

}

@media screen and (max-width:425px) {

  #about-img {
      float: none;
  }

  html,
  Body {
      background-image: none;
  }

  .container {

      margin-top: 0;
  }
}

@media screen and (max-width: 320px) {

  img {
      display: none;
  }

}